{% extends 'base.html' %}
{% load static %}
{% block content %}

<br/>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{myFilter.form}}
                <button class="btn btn-info" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<br/>


<div class="row">
    <div class="col">
        <div class="card card-body">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th >Hair Styles</th>
                <th> Price</th>
                <th>Hours</th>
                <th></th>
                
                </tr>
            </thead>
            {% for hairstyle in hairstyles %}
            <tr>
                <th>{{ hairstyle.hairStyles}}</th>
                <th>{{ hairstyle.price}}</th>
                <th>{{ hairstyle.hours}}</th>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>

<br><br>
<div class="col-md">
  <div class="card card-body">
<h4 style="text-align: center;"> {{ note }} </h4>
</div>
<br><br>
<div class="col-md-8">
    
<div class="card card-body" style="margin-left: 50%; padding-left: 15%;">
    <br><br<br><br<br><br<br><br<br><br<br><br>   
  <form action="{% url 'hairstyle' %}" method="POST">
    {% csrf_token %}
    {{ bookinghairstyleform.as_p }}
    <input class="btn  btn-sm btn-info" type="submit" value="Book Appointment">
  </form>
  <br><br<br><br<br><br<br><br<br><br<br><br>
  
  </div>
  </div>
  <br><br<br><br<br><br<br><br<br><br<br><br>
  
  
  </div>
 
{% endblock %}