{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="cover"></div>
<div class="row">
    <div class="col-md">
        <div class="card bg-dark text-white card-body border=0">
            <h5 style="text-align: center;"> <br>About Us</h5>
        
            <p style="text-align: center;">
                <br>
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Exercitationem vel 
                <br>obcaecati dolore. Natus ab nemo vitae
                quod cum neque a, quasi molestias vero
                <br>distinctio in atque repellat quidem 
                fugiat inventore?
                <br>
            </p>
        </div>
    </div>

    <div class="col-md">
        <div class="card  card-body border-0">
            <h5 style="text-align: center;">Connect with Us</h5>
            <br>
        
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>9808286495</div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                    <a class="d-block" href="mailto:stuteebasnet@gmail.com">stuteebasnet@gmail.com</a>
                </div>
            </div>
            <br>
            
        </div>
    </div>
</div>




{% endblock content%}